{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    {% block title %}{% endblock title %}
  </title>
  <meta name="description" content="ecommerce websites we deliver products in 1 hours">
  <meta name="ecommerce" content="amazon,flipkart,selling,products">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
 <!-- Remove these lines -->
 
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

  <!-- =======================================================
  * Template Name: Tempo
  Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Updated: Jul 31 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/nadma.png' %}" alt="">
        <p class="logo"><a href="/"></a></p>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a class ="nav-link scrollto" href="#hero" class="active">Accueil</a></li>
          <li><a class ="nav-link scrollto" href="/about">A propos de nous</a></li>
          <li><a class ="nav-link scrollto" href="/categorie">Categories</a></li>
          <li><a class ="nav-link scrollto" href="/service">Services</a></li> <!-- Correction ici -->
          <li><a class ="nav-link scrollto" href="/checkout">Commandes</a></li>
         
          
        <!-- HTML pour le popover -->
        <button type="button" id="popcart" class="btn btn-primary" data-bs-toggle="popover" data-bs-html="true" data-bs-placement="bottom" data-bs-content="<p><i class='fa-solid fa-cart-shopping'></i> Contenu du popover</p>">
          <i class="fa-solid fa-cart-shopping"></i>Panier(<span id="cart">0</span>)
        </button>
        

        
        
  
          
          {% comment %}
{% if request.user.is_authenticated %}
            
    <li><a class ="nav-link scrollto" href="{% url 'deconnexion' %}">Se deconnecter <i class="fa-solid fa-right-to-bracket"></i> </a></li>
{% else %}
    <li class="dropdown"><a href="#"><span>Se Connecter <i class="fa-solid fa-user"></i></span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
            <li><a href="{% url 'inscrire' %}">S'inscrire  </a></li>
            <li><a href="{% url 'connexion' %}">Se connecter <i class="fa-solid fa-user"></i></a></li>
        </ul>
    </li>
{% endif %}
{% endcomment %}


          <li><a class="nav-link scrollto bg-dark p-3 m-2" href="/contact">Contact <i class="fa-solid fa-message-middle-top"></i></a></li>
        </ul>
       
        <form class="d-flex ms-3" action="{% url 'recherche' %}" method="get">

          <input class="form-control me-2" type="search" name="q" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
        
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
    
  </header>

  
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
      {% block content %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endblock content %}
    </div>
  </section><!-- /Hero Section -->

  <main class="main">
    {% block body %}
    {% endblock body %}
  </main>

  <footer id="footer" class="footer bg-dark">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Ndama Service</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://wa.me/221782100118" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.facebook.com/votre_pseudo_facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/votre_pseudo_instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/votre_pseudo_linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">A propos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Notre Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Ou sommes Nous</h4>
          <p>Rue 17 </p>
          <p>Medina Dakar, X 20</p>
           
          <p class="mt-4"><strong>Telephone:</strong> <span>+221782100118/780164382</span></p>
          <p><strong>Email:</strong> <span>cissesaliou23@.com</span></p>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">KGT(+221771667996)</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
 
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 
  <!-- Main JS File -->
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>
</body>


</html>
